*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.sky{
    background: url(background.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.trees{
    background: url(trees.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
}

.track{
    background: url(track.png) no-repeat;
    background-size: cover;
    width: 2000vw;
    height: 30vh;
    background-repeat: repeat-x; 
    position: absolute;
    top: 70%;
    animation: track linear 30s infinite;
}

.car{
    background: url(car_body.png) no-repeat;
    background-size: cover;
    width: 290px;
    height: 90px;
    position: absolute;
    left: 25%;
    top: 58%;
}

#img1{
    width: 55px;
    position: relative;
    top: 40%;
    left: 13.7%;
}

#img2{
    width: 55px;
    position: relative;
    top: 41.5%;
    left: 48.7%;
}

.car img{
    animation: rotate linear .5s infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes track{
    100%{
        transform: translateX(-100%);
    }
}

@keyframes tree{
    100%{
        transform: translateX(-100%);
    }
}





@media (max-width: 768px) {
    .car{
        left: 11%;
        top: 69.8%;
    }

    .track {
        width: 2259vw;
        height: 161vh;
        top: 75%;
    }

    .trees{
        height: 75vh;
    }
}











































/* *{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover; 
    position: absolute;
    top: -144px; 
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x; 
    position: absolute;
    top: 70vh;
    animation: carMove linear 13s infinite;

}

.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom:30vh;
    animation: shake linear .3s infinite;

}


.wheel1 img{
    width: 77px;
    position: relative;
    top:42px;
    left:42px;
    animation: wheelRotation linear .16s infinite;
}


.wheel2 img{
    width: 77px;
    position: relative;
    top: -39px;
    left: 235px;
    animation: wheelRotation linear .16s infinite;

}

@keyframes wheelRotation
{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove
{
    100%{
        transform: translateX(-500vw);
    }
}

@keyframes shake
{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes shakebody
{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }
} */